.card img{
  object-fit: center;
  height: 180px;

}
/* .carousel-item img{

  object-fit: center;
  height: 500px;

}
.card-img-top{
  object-fit: center;
  height: 180px;

} */
/* .card-img-top{

} */
 /* for signup form */
 .bgurl{
  background-image: url("../public/images/background01.jpg");
  border-radius: 20px;

  
 }
